<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="RbskAppPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.aegis.entities.MAgeImmunization</class>
    <class>com.aegis.entities.TImmunizationQuesAns</class>
    <class>com.aegis.entities.MVaccineImmunization</class>
    <class>com.aegis.entities.AndroidVersionControl</class>
    <class>com.aegis.entities.TTeamschedule</class>
    <class>com.aegis.entities.TException</class>
    <class>com.aegis.entities.MTesttype</class>
    <class>com.aegis.entities.MTablet</class>
    <class>com.aegis.entities.TAnthropometry</class>
    <class>com.aegis.entities.MHospital</class>
    <class>com.aegis.entities.MDiagnosisstatus</class>
    <class>com.aegis.entities.MDistrict</class>
    <class>com.aegis.entities.MDoctor</class>
    <class>com.aegis.entities.MMedium</class>
    <class>com.aegis.entities.TRoleHospitaltypeTile</class>
    <class>com.aegis.entities.MVillage</class>
    <class>com.aegis.entities.TChildabsent</class>
    <class>com.aegis.entities.TTablet</class>
    <class>com.aegis.entities.MMandal</class>
    <class>com.aegis.entities.TScreentimelog</class>
    <class>com.aegis.entities.TSymptomFinding</class>
    <class>com.aegis.entities.TDiagnosis</class>
    <class>com.aegis.entities.MPreliminary</class>
    <class>com.aegis.entities.MSchool</class>
    <class>com.aegis.entities.TDiagnosishistory</class>
    <class>com.aegis.entities.MSchoolquestion</class>
    <class>com.aegis.entities.MAgegroup</class>
    <class>com.aegis.entities.MTeammember</class>
    <class>com.aegis.entities.TGeneralmedicalquestionanswer</class>
    <class>com.aegis.entities.Sysdiagrams</class>
    <class>com.aegis.entities.TServicetreatment</class>
    <class>com.aegis.entities.MPhc</class>
    <class>com.aegis.entities.MGeneralmedicalquestion</class>
    <class>com.aegis.entities.MSchoolcategory</class>
    <class>com.aegis.entities.MDoctorspecialization</class>
    <class>com.aegis.entities.MDesignation</class>
    <class>com.aegis.entities.MStatus</class>
    <class>com.aegis.entities.TFinding</class>
    <class>com.aegis.entities.MTreatmenttype</class>
    <class>com.aegis.entities.MTile</class>
    <class>com.aegis.entities.MUser</class>
    <class>com.aegis.entities.MSymptom</class>
    <class>com.aegis.entities.MChild</class>
    <class>com.aegis.entities.THospitaltypeTreatmenttype</class>
    <class>com.aegis.entities.TFindingHospitaltype</class>
    <class>com.aegis.entities.MServicetreatment</class>
    <class>com.aegis.entities.MHospitaltype</class>
    <class>com.aegis.entities.TPatientschedule</class>
    <class>com.aegis.entities.MFinding</class>
    <class>com.aegis.entities.TTest</class>
    <class>com.aegis.entities.MTest</class>
    <class>com.aegis.entities.MTeam</class>
    <class>com.aegis.entities.MRole</class>
    <class>com.aegis.entities.TSchoolquestionanswer</class>
    <class>com.aegis.entities.TReferraltreatment</class>
    <class>com.aegis.entities.TfindingImages</class>
    <class>com.aegis.entities.TotherFindings</class>
    <class>com.aegis.entities.TfindingsWithoutReferels</class>
    <class>com.aegis.entities.MAllergy</class>
    <class>com.aegis.entities.MAcademicyear</class>
    <class>com.aegis.entities.TAllergy</class>
    <class>com.aegis.entities.TConfirmfindings</class>
    <class>com.aegis.entities.TPrevioustreatment</class>
    <class>com.aegis.entities.MMenu</class>
    <class>com.aegis.entities.TMedicalexamination</class>
    <class>com.aegis.entities.TChildacademy</class>
    <class>com.aegis.entities.TOralexamination</class>
    <class>com.aegis.entities.TIllness</class>
    <class>com.aegis.entities.TGeneralphysicalexamination</class>
    <class>com.aegis.entities.TSystemicexamination</class>
    <class>com.aegis.entities.MChildAddress</class>
    <class>com.aegis.entities.MSchoolPrincipal</class>
    <class>com.aegis.entities.TMenulink</class>
    <class>com.aegis.entities.MIllness</class>
    <class>com.aegis.entities.MDentalTreatmentTypes</class>
    <class>com.aegis.entities.MChiefcomplaints</class>
    <class>com.aegis.entities.TFindinghistory</class>
    <class>com.aegis.entities.TFamilyhistory</class>
    <class>com.aegis.entities.MAge</class>
    <class>com.aegis.entities.MChildhistory</class>
    <class>com.aegis.entities.TChiefcomplaints</class>
    <class>com.aegis.entities.MDentalcauses</class>
    <class>com.aegis.entities.TimmunizationQuesAns</class>
    <class>com.aegis.entities.TDentaltreatment</class>
    <class>com.aegis.entities.TDentalcauses</class>
    <class>com.aegis.entities.MUser_1</class>
    <class>com.aegis.entities.MMedium_1</class>
    <class>com.aegis.entities.MPreliminary_1</class>
    <class>com.aegis.entities.MChild_1</class>
    <class>com.aegis.entities.MSchoolcategory_1</class>
    <class>com.aegis.entities.MFinding_1</class>
    <class>com.aegis.entities.MSchool_1</class>
    <class>com.aegis.entities.MScheduleLevel</class>
    <class>com.aegis.entities.MSpecialization</class>
    <class>com.aegis.entities.MProcedures</class>
    <class>com.aegis.entities.TExternalreferral</class>
    <class>com.aegis.entities.TMedicaltreatment</class>
    <class>com.aegis.entities.TInternalreferral</class>
    <class>com.aegis.entities.TChildpersonalhistory</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://120.138.9.243:1433;databaseName=RBSKDev"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="Sa12345$"/>
    </properties>
  </persistence-unit>
</persistence>
